[2017-12-24 17:03] jkuri commented on #281
resolved.

[2017-12-24 17:03] #281 closed

[2017-12-24 17:03] #274 closed

[2017-12-26 06:37] luckynipun commented on #171
@jkuri, the clear button does not exist on the new version?
![image](https://user-images.githubusercontent.com/17171812/34349106-127ddd02-ea35-11e7-898e-47f4d67c1566.png)

[2017-12-26 14:03] endertls commented on #284
Hi,
Do you plan to update the npm package? It doesn't allow the use of minDate/maxDate for now :( .

Thank you

[2017-12-26 19:53] x1unix commented on #284
@endertls, ask @jkuri.

[2017-12-26 20:46] jkuri commented on #284
done, published `2.1.7`.

[2017-12-27 08:45] endertls commented on #284
Thanks a lot guys!

[2018-01-06 16:20] azrinsani opened #288 "Only void and foreign elements can be self closed "ng-datepicker""
I don't know why.. nothing works!!! so frustrating...

On the screen it says:

On the console it says:

I use it as follows:
`
<ng-datepicker [(ngModel)]="lastvisited" />`

lastvisited is a date variable:

`@Input() lastvisited: Date;`

[2018-01-06 16:21] jkuri commented on #288
use it as `<ng-datepicker [(ngModel)]="lastvisited"></ng-datepicker>`. not sure where did you saw Angular components used in self-closed style.

[2018-01-06 16:27] azrinsani commented on #288
Thanks for quick reply! still i am having same problem

on screen it says:

however, the console error has changed:

[2018-01-06 16:28] jkuri commented on #288
please check the demo, clone the repository and run it locally.

[2018-01-06 16:29] azrinsani commented on #288
i use the NPM install

[2018-01-06 16:31] jkuri commented on #288
sure, but seems like you are doing something wrong. in this repository you have working example from which you can learn how to get it done right.
check https://github.com/bleenco/ng2-datepicker/blob/master/src/components/app-home/app-home.component.html#L10 and https://github.com/bleenco/ng2-datepicker/blob/master/src/components/app-home/app-home.component.ts#L11-L17

[2018-01-06 16:37] azrinsani commented on #288
it says now

[2018-01-06 16:39] jkuri commented on #288
do you have strict null checks on?

[2018-01-06 16:48] azrinsani commented on #288
i've done this now:

[code]

but the problem is still occuring

[2018-01-06 16:53] azrinsani commented on #288
My component class has the following:

[2018-01-07 13:37] johnwheal commented on #288
@azrinsani Are you using Angular 5? I think this might be an issue introduced in Angular 5.

[2018-01-08 15:30] Omnisri commented on #12
hi jkumawat,

May I know how to set the model value to null? I am looking for a solution for the same thing too.

thank you, in advance.

[2018-01-09 19:45] rvalenciano commented on #12
@Omnisri please see this:

https://stackoverflow.com/a/48175624/3558900

[2018-01-10 19:46] Omnisri commented on #12
@rvalenciano thankyou, so much I just stumbled upon the same solution too.. When I do this, the field is empty as expected, but when I click on the date field, the datepicker shows as "Invalid Date" to something like "Click to select a date" on the title bar. Any way to change that text?
![image](https://user-images.githubusercontent.com/7725284/34792111-02c9b5b6-f615-11e7-97f4-a4494fb1b448.png)

[2018-01-10 20:17] kiruthika94 commented on #135
Hi , I am facing the same issue with reactive forms.
<ng-datepicker  formControlName="date"[(ngModel)]="startDate" [options]="options"></ng-datepicker>
 i am getting error.
Uncaught Error: Template parse errors:
Can't bind to 'ngModel' since it isn't a known property of 'ng-datepicker'.
1. If 'ngModel' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component.
2

[2018-01-10 20:28] rvalenciano commented on #12
@Omnisri I think we need to modify this line: https://github.com/bleenco/ng2-datepicker/blob/aff74388a8c9cc8e90b159113df7d03360b1ea44/src/ng-datepicker/ng-datepicker.component.ts#L233 to actually check if we have an empty value, then assign 'Click to select a date', I can open a PR in the next hours.

[2018-01-10 21:49] Omnisri commented on #12
greatly appreciate prompt response @rvalenciano. I will give it a try and wait for the update :)

[2018-01-11 07:44] Omnisri opened #290 "Reset() ng2-datepicker onload of component(or page)"
I am trying to implement something (or might have been breaking my head on already available solution out there somewhere) in ng2-datepicker that is in angular 2 form as below -

component.html file:

<form #submitformfordate="ngForm">
<div class="form-group row">
            <label for="selectdate" class="col-sm-3 col-form-label formLabels">(#) Select Date
            <p style="color: grey; font-

[2018-01-11 17:49] Omnisri commented on #12
I have raised another issue for ng2-datepicker. anyone can take a look at it and give me some pointers please? https://github.com/bleenco/ng2-datepicker/issues/290

[2018-01-15 11:25] tplessis commented on #264
But if we do not want to have input set with a default value ?

[2018-01-15 15:16] bernardomed opened #293 "Error TS2304: Cannot find name 'DatePickerOptions'"
I just installed ng2-datepicker in my project and got this error when I added it.

Added `import { NgDatepickerModule } from 'ng2-datepicker';` to the app-module.

Added `import { DatepickerOptions } from 'ng2-datepicker';` to the component.

Then added this to the component as well
[code]
FInally, I added it to the HTML file
[code]
Am I doing something wrong here?

[2018-01-15 15:18] bernardomed commented on #293
Found the error, lower case p in DatePickerOptions. Sorry about that.

[2018-01-15 16:08] jkuri commented on #293
please check again with the new version 2.2.1, I just pushed to npm.

[2018-01-15 16:23] rvalenciano commented on #12
@Omnisri https://github.com/bleenco/ng2-datepicker/pull/291 was merged, you can customize your message now.

[2018-01-15 16:43] bernardomed commented on #293
Didn't change a thing.

I uninstalled ng2-datepicker, cleaned npm cache, installed again, same error.

[2018-01-16 07:48] luckynipun opened #294 "How to clear the selected date? and How to set a null initial value?"
previously the clear worked for <ng2-datepicker [(ngModel)]="date">.
It is not present in the new <ng-datepicker [(ngModel)]="date">, as shown in the screenshot below.

![image](https://user-images.githubusercontent.com/17171812/34977285-f1f61c48-fabf-11e7-9ad7-87ba8159aea2.png)

[2018-01-16 07:55] luckynipun commented on #293
@bernardomed change the html tag to <ng-datepicker from <ng2-datepicker. later import the appropriate Datepickeroptions. You should be fine. The html tag was changed in the latest update.

[2018-01-16 09:10] bernardomed commented on #293
@luckynipun The error happens even if I don't have the HTML tag.

[2018-01-16 13:23] luckynipun commented on #293
@bernardomed Did you observe your import statement
`import { DatepickerOptions } from 'ng2-datepicker';`
where as you are declaring options in DatePickerOptions
`options: DatePickerOptions = {
    format: 'DD-MM-YYYY',
    todayText: 'Oggi',
    style: 'big'
  };`
Did you change it correctly? Is the error still there?

[2018-01-16 18:53] Omnisri opened #295 "ERROR in NgDatepickerModule is not an NgModule"
Hi, not sure if anyone encountered this. But seeing this issue since yesterday. below is my package.json-

[code]

Should I be updating the version? I also tried re-installing ng2-datepicker.

[2018-01-16 19:12] Omnisri commented on #295
Also, the minDate: new Date(Date.now()) seems to now disable selection of today's (current) date. this was not an issue 2 days ago. sorry for raising so many issues, been on a blocker since I get the above issue. I might just be missing some reference or something?

Thank you, for all your hard work on bringing up such good date-picker.

[2018-01-17 09:17] Hennadiy opened #296 "Error on build with AOT angular 5.2"
I get an error when trying to build project with AOT:
Unexpected value 'NgDatepickerModule in ng2-datepicker/dist/src/ng-datepicker/ng-datepicker.module.d.ts' imported by the module 'module'. Please add a @NgModule annotation.

Build without AOT works correctly.

[2018-01-17 19:27] praxkan commented on #295
I got the same issue - fix the version to 2.1.8 (remove the ^) - and that works. That was the last working version, guess some recent commit broke something

[2018-01-17 19:34] Omnisri commented on #295
@praxkan yes, the I reverted to 2.1.8 and it worked for me too. something in the latest commit must have done the break :) thakyou for response!

[2018-01-17 19:35] Omnisri commented on #296
can you share your package.json info please?

[2018-01-18 09:07] Hennadiy commented on #296
[code]

[2018-01-18 12:18] Hennadiy commented on #296
Fix when downgrade ng2-datepicker package to 2.1.8

[2018-01-18 12:18] #296 closed

[2018-01-21 23:06] strad84 opened #297 "Incorrect Date with firstCalendarDay 1 (1st April 2018)"
Hi,

with firstCalendarDay 1 there is an issue on 1st April 2018,

![datepicker issue](https://user-images.githubusercontent.com/35671009/35200058-99d81d26-ff07-11e7-9583-f3068e1655f8.JPG)

For calendar 1st April is Monday but actually will be Sunday.

Thank you

[2018-01-22 08:40] MerkulovDev opened #298 "Not working with last version of date-fns"
I need Ukrainian language. But it is exist only in new version of date-fns 2.0.0
I've installed, but datepicker is all the time uses English language. Languages not switches.

Or tell me how to use moment.js as locale

[2018-01-22 10:29] strad84 commented on #297
i've done this temporary fix

const tmp = getDay(start) - this.firstCalendarDay;
const prevDays = tmp < 0 ? 7 - this.firstCalendarDay : tmp;

    for (let i = 1; i <= prevDays; i++) {
      const date = subDays(start, i);
      this.days.unshift({
        date: date,
        day: getDate(date),
        month: getMonth(date),
        year: getYear(date),
        inThisMonth: false,
        isToday:

[2018-01-23 11:29] jkuri commented on #297
hi. thanks... can you make a PR with the fix?

[2018-01-23 14:23] MerkulovDev commented on #298
?

[2018-01-24 09:50] MerkulovDev opened #299 "Locale object"
How should looks locale object to work with datepicker?

I want to add my lang (ukrainian). It's aviable in last version of date-fns, but this datepicker doesn't work with it.

So i want to add my own locale file. How should it looks like?

[2018-01-24 11:23] aleksmudric commented on #282
Same issue here. Can you give an example how to change input appearance?

[2018-01-24 12:06] jkuri commented on #282
something like
[code]
should work.

[2018-01-24 12:27] aleksmudric commented on #282
No... It's not applied... Like it can't see that class.

[2018-01-24 12:30] jkuri commented on #282
interesting.. did you try to inspect input element with devtools?

On 24 January 2018 at 13:27:59, aleksmudric (notifications@github.com)
wrote:

[2018-01-24 12:55] jkuri commented on #299
I checked and `date-fns` is the latest version available. You have a clear example in the README how to use it.

[2018-01-24 13:01] MerkulovDev commented on #299
@jkuri you have tried last version of datepicker(2.2.2) and last version of date-fns(2.0.0-alpha.7) and languages switches correctly?

[2018-01-24 13:02] aleksmudric commented on #282
Yes I did. I managed to solve this by using :host /deep/ .ngx-datepicker-input{...} to my angular component style css file.

Thanks a lot for your help.

[2018-01-24 13:02] jkuri commented on #299
we won't use `date-fns` alpha version but a stable release.

[2018-01-24 13:03] MerkulovDev commented on #299
@jkuri in stable release there is no ukrainian language.

[2018-01-24 13:09] jkuri commented on #299
okay I see.. you can still solve this by manually copying `https://github.com/date-fns/date-fns/tree/v2.0.0-alpha.7/src/locale/ua` folder into your application then import it from there.

[2018-01-24 13:10] jkuri commented on #282
nice solution! do you maybe have time to create a PR and add your solution to `README.md` in case someone else is experiencing the same problem?

[2018-01-24 13:14] MerkulovDev commented on #299
i have tried this way and it didn't work for me. i get different errors. I copied folder from date-fns v1.
i will try one more time and show you an error.

[2018-01-24 13:16] jkuri commented on #299
okay. maybe the translations format is not same for v1 and v2 and you'll need to add translations by your own. try copying English example as a case from v1 then manually translate to Ukrainian.

[2018-01-24 13:16] MerkulovDev commented on #299
@jkuri i will get an error. one minute. i'm on my way to do this.

[2018-01-24 13:18] MerkulovDev commented on #299
`File '/src/typings.d.ts' is not a module.`

[2018-01-24 13:24] jkuri commented on #299
that is really weird. do you use `angular-cli` or which tool? can you append me an example app as a `.zip` here (just drag&drop here without `node_modules/` in a comment and I will take a look.

[2018-01-24 13:27] MerkulovDev commented on #299
@jkuri  yes, angular-cli. project... i will try to give you needed part. couple minutes. maybe i will solve problem with last error.

[2018-01-24 13:28] strad84 commented on #297
Done! I hope i've done it properly.

Thanks!

Inviato da ProtonMail mobile

-------- Messaggio originale --------
On 23 gen 2018, 12:29, Jan Kuri ha scritto:

[2018-01-25 10:07] MerkulovDev commented on #299
solved by adding copy of this module v1.28.1  into my nexus repo. also i've added folder ua into locale.

[2018-01-29 19:24] hayanisaid opened #302 "Error:Cannot find name 'object'"
I have this error how I can solve it

[2018-02-06 10:43] kazekam opened #303 "Change default view from days to year"
Can I specify default view (days / year) in the options?

[2018-02-06 16:00] irynaslisava commented on #258
how does it work with ng-datepicker?
It doesn't work for me. I use 'ng-datepicker' and  I see just enabled for manual entry input but not datepicker.
  <input type="text" name="date" [(ngModel)]="date" />
  <ng-datepicker [headless]="true" [(ngModel)]="date"></ng-datepicker>

[2018-02-06 16:18] irynaslisava commented on #270
How can this be used for ng-datepicker?

[2018-02-07 08:12] irynaslisava opened #304 "Options are ignored when custom input is used"
Options are ignored when I add [headless]="true"

 datePickerOptions: DatepickerOptions = {
    displayFormat: 'DD.MM.YYYY',
    barTitleFormat: 'MMMM YYYY',
    dayNamesFormat: 'dd',
    firstCalendarDay: 0, // 0 - Sunday, 1 - Monday
    locale: frLocale,
    minDate: new Date(this.availableFromDateData.getMinValue()),
    maxDate: new Date(this.availableFromDateData.getMaxValue())
  };

<input t

[2018-02-07 09:18] jkuri commented on #304
i’ll check in a few minutes.

On 7 February 2018 at 09:12:20, irynaslisava (notifications@github.com)
wrote:

[2018-02-07 18:38] jkuri commented on #304
why would you like to use custom input and not just change the style of existing one if needed?

[2018-02-08 08:17] irynaslisava commented on #304
I need datepicker enabled for both to choose date in calendar-dropdown or via manual entry.

[2018-02-10 13:20] x1unix commented on #270
@irynaslisava, yes

[2018-02-14 06:08] Omnisri commented on #295
closing, as no longer an issue.

[2018-02-14 06:08] #295 closed

[2018-02-20 11:32] mabidar opened #305 "ng-datepicker issue in IE11 and edge"
ng-datepicker works fine with Chrome browser but  using IE11 or edge  it's jerky
Can you have a solution for this :) plz

[2018-02-27 18:09] amrutha-chenna commented on #284
HI anyone can suggest me how to  apply the options to DatePicker

[2018-02-28 11:46] farooq07 opened #307 "is there anyway to append the datepiker outside of the div"
I am trying to initialize the datepiker outside the div but its position is not working right

[2018-03-01 08:26] farooq07 commented on #307
The parent div is overflow hidden the datepiker is not working properly because its dynamically building in that div i want to show the textbox here  and the datepiker will show somewhere in footer but its alignment should not disturb.

[2018-03-06 13:03] oanacrisan opened #309 "Allow empty date on initialize"
I'd like to have the possibility to not set an initial date value, but still have the datepicker set to current month when I click on the input to open it. Otherwise, if the date is null, the days are not displayed. And the reason I do not want to set the date with `new Date()` on initializing is that I do not want the date (of today) displayed in the input, I'd prefer for the input to be populate

[2018-03-09 08:14] mrSerg commented on #294
Need too this feature. Developers, please help!

[2018-03-16 12:58] boban984 commented on #288
The example on the home page of the repo says:

# Example
`  <ng-datepicker [(ngModel)]="date" />`

Which is not correct

[2018-03-19 15:26] dmkav opened #310 "Issue with maxYear"
When I set maxYear to new Date().getFullYear() (now is 2018 year) in options  then in UI datepicker I can select only until 2017. This is a bit strgange.
Also, when I swap monthes ono by one it can swap any year. Why it does not apply max Year?

[2018-03-21 01:38] ShiruJan opened #311 "How to change calendar background color?"
How i can change the background color of the calendar?
Currently, the background is transparent.

![captura de pantalla 2018-03-20 a la s 19 36 20](https://user-images.githubusercontent.com/11635458/37691264-1eede1b2-2c76-11e8-8b86-9d57a2551a62.png)

[2018-03-22 06:42] Manzurkds commented on #213
Guys I have fixed the issue with the pull request #312.
If you are in hurry and can't wait for the pull request to be accepted , you can make a build from the forked repo in my account

[2018-03-22 06:43] Manzurkds commented on #309
I have fixed the issue with the pull request #312.
If you are in hurry and can't wait for the pull request to be accepted , you can make a build from the forked repo in my account

[2018-03-24 01:51] jlberrocal commented on #284
what you mean by apply options @amrutha-chenna ???

[2018-03-26 12:43] vaibhavpatil111 commented on #265
After referring this angular issue [https://github.com/angular/angular/issues/10423](url)
`
           <tr *ngFor="let advt of adList; let i = index; trackBy:trackByIndex">
          <ng-datepicker  [(ngModel)]="start_date[i]=advt.start_date"
                   name="start_date{{i}}" [options]="options"></ng-datepicker></tr>
`

we can do this way.
This resolved my issue.

[2018-03-30 13:56] antonionoca commented on #310
I agree with you, the behavior is not consistent.
I suggested some patches on PR #313

[2018-04-03 18:09] aemini commented on #304
@irynaslisava did you try set any dummy name attribute to ng-datepicker? In case of version 2.2.5 there is no problem.

[2018-04-16 11:16] deva-aimia commented on #288
Is there any resolution to this issue? I am getting the same issue as mentioned at the top. I use Angular 4.

[2018-04-18 20:08] sjmerel commented on #82
Here's an example where this would be useful: I'm storing a date of birth in a database as midnight UTC on that date.  When I display that in the datepicker, it's showing the day before the actual birthday, because I'm in PST which is 7 hours earlier. It would be great if I could just tell the datepicker to display in UTC.

[2018-05-02 13:18] SvenHarenburg commented on #305
Just encountered a problem in Edge and I thought I'd write it down in case someone has the same issue.

With Version 2.2.5 from npm I had no issues in Chrome and Firefox. In Edge however I was missing the 7th column of days:
![image](https://user-images.githubusercontent.com/18076308/39525226-b10a9fba-4e1b-11e8-945e-7da339c00ef1.png)

The issue here is the css rule which sets the width of .day-uni

[2018-05-04 11:41] wuyuchang opened #314 "ngx-slimscroll.d.ts found version 4, expected 3"
ERROR in Metadata version mismatch for module /home/jackie/www/Payment-FrontEnd/node_modules/ngx-slimscroll/dist/ngx-slimscroll.d.ts, **found version 4, expected 3**, resolving symbol NgDatepickerModule in /home/jackie/www/Payment-FrontEnd/src/app/theme/share/ng-datepicker/ng-datepicker.module.ts, resolving symbol NgDatepickerModule in /home/jackie/www/Payment-FrontEnd/src/app/theme/share/ng-datep

[2018-05-04 11:42] wuyuchang commented on #314
I solve it after I install ngx-slimscroll@3 manually

[2018-05-04 11:43] #314 closed

[2018-05-04 18:11] pkhisticastlight commented on #294
I also need this feature!

[2018-05-04 18:55] jkuri commented on #294
I am accepting PRs for that feature. sorry but really busy lately

[2018-05-04 20:26] pkhisticastlight commented on #294
https://github.com/bleenco/ng2-datepicker/pull/315

[2018-05-04 21:09] jkuri commented on #294
resolved with https://github.com/bleenco/ng2-datepicker/pull/315

[2018-05-04 21:09] #294 closed

[2018-05-07 21:16] garysui opened #316 "Angular 6 Not Compatible"
Due to of version of rxjs of dependency "ngx-slimscroll", ng2-datepicker won't work with Angular 6 which uses rxjs 6. Rxjs 6 has breaking changes.

[2018-05-08 18:19] RedondaAnalia opened #317 "Range Date Selection"
Is it possible to select a range of days?

[2018-05-20 00:49] Tjossul opened #318 "Calendar popup does not show correctly"
Hello,

sadly, the calendar box width is to small; the right navigation arrow is outside of the box:

[http://fs5.directupload.net/images/180520/4jjt8sni.png](url)

How can I fix this?

Thanks in advance.
T.

[2018-05-20 01:33] jkuri commented on #318
hi @Tjossul. Please include https://jgthms.com/minireset.css/ and let me know if then works, thanks!

[2018-05-20 05:57] Tjossul commented on #318
Hi,

thanks for your answer, but sadly including this does not change anything.

Regards.
T.

[2018-05-20 06:05] jkuri commented on #318
thats odd.. did you include minireset correctly on the main styles?

[2018-05-20 06:09] Tjossul commented on #318
I think so.

I installed it and then added it this way in my component.ts:

@Component({
  selector: 'app-cashbook',
  templateUrl: './cashbook.component.html',
  styleUrls: ['./cashbook.component.css', '../../../node_modules/minireset.css/minireset.css']
})

[2018-05-20 06:11] jkuri commented on #318
I think you need to include minireset.css in global styles not in the component styleUrls.

[2018-05-20 06:11] Tjossul commented on #318
OK, I'll try it...

[2018-05-20 07:29] Tjossul commented on #318
Hey, my friend I got it.

You pointed me in the right direction. I changed the styles order this way:

...
"styles": [
"../node_modules/minireset.css/minireset.min.css", "styles.css"
],
...

This finally works!

Thanks, brother!
T.

[2018-05-20 07:36] jkuri commented on #318
great. no problem

[2018-05-22 21:52] ShiruJan commented on #255
i have the same problem, and use the CSS not work.

[2018-05-25 12:24] rahulsharma841990 opened #319 "Can't bind to 'options' since it isn't a known property of 'ng-datepicker'"
Getting error on creating production build in ionic:

[code]

can any one please tell me the solution?

![image](https://user-images.githubusercontent.com/6939188/40544081-a8494a3a-6044-11e8-82fe-f27284422e11.png)

[2018-06-11 20:21] naveencgr opened #320 "How to format the output from the date picker"
I added the date picker in my form and trying to access the model values using this.model.values which is giving with the time zone as 2018-06-13T04:00:00.000Z. I need the value of the date as MM/DD/YYYY as set in the options. I set the date picker options as below and using ^2.3.1 version
  datePickerOptions : DatepickerOptions = {
    minYear: 2012,
    maxYear: 2050,
    displayFormat: 'MM/DD/Y

[2018-06-13 16:18] gugadev commented on #317
@RedondaAnalia Not yet. Btw You have some alternatives like [ngx-datepicker](https://kekeh.github.io/mydatepicker/) that can do it.

[2018-06-18 09:21] soyjuanmedina opened #321 "Append an icon"
I'm trying to append an icon to the <ng-datepicker> than open the calendar, but I can't achieve it.

I have this bootstrap row

`<div class="row">
        <div class="col-md-12">
          <div class="form-group row float-right">
            <label class="col-3 col-form-label">
              {{ 'DATE ' | translate}}
            </label>
            <div class="col-9 input-group">
              <ng

[2018-07-08 02:02] DeAusten opened #324 "ng-pristine / ng-dirty / ng-valid not being applied properly"
Currently on load, the input within the datepicker is as follows: `<input class="ng-pristine ng-valid ng-untouched" />`

When a date is picked, the input within the datepicker is as follows: `<input class="ng-pristine ng-valid ng-touched" />`

It seems like the assignment of the date should also change **_ng-pristine_** to **_ng-dirty_** ([https://angular.io/guide/forms](url))

<img width="566" al

[2018-07-08 19:10] jkuri commented on #316
@diegoalex I did not get your response what's your issue running this on Angular 6?

[2018-07-11 07:30] alextverdyy opened #325 "Monday start date (Spanish calendar)"
I have a problem with some months, if you are from Spain like me and you want the first day of the week its **monday** you need to change the function of **getDay()** to **getISODay()**.

Can close this issue if want, its only informative issue.

[2018-07-11 12:23] LeXa777 opened #326 "Open datepicker programmatically with button click"
Looks like the current implementation does not allow for the datepicker to be opened programmatically if the event was triggered by a click.

In my template I have a simple button like so:

`<button (click)="toggleHandler()">Toggle</button>`

and in my component I have the following in order to trigger the date picker

[code]

Which I would assume should toggle the datePicker dropdown (and looking

[2018-07-12 08:48] OscarPQ opened #327 "Angular 5 scroll on years problem"
In Angular 5 with rxjs v5, there are an error when tries to change the year "NgDatepickerComponent.html:68 ERROR TypeError: rxjs.fromEvent is not a function
    at SlimScrollDirective.initWheel (ngx-slimscroll.umd.js:131)".

[2018-07-12 17:35] russaa commented on #327
I have the same problem:

version 3 seems to use `rxjs` v6, more specifically, the dependency `ngx-slimscroll` requires `rxjs` v6.

The workarounds I came up with:

The earlier versions 2.x.x (and its dependencies) use `rxjs` v5, so if you do not rely on any features from v3, you could try including the dependency with version 2 (I think 2.3.1 was the last v2).

Or you could explicitly install `ng

[2018-07-12 20:05] jkuri commented on #327
Hi guys, also installing `rxjs-compat` in your project should help.

[2018-07-13 11:14] russaa commented on #327
@jkuri I have not tried it, but that would also require to update `rxjs` to v6, right?

since in an `Angular` 5 project, most of the dependencies would probably based on `rxjs` v5, I'd rather "downgrade" just the one dependency (`ng2-datepicker`/`ngx-slimscroll`) that requires v6, than "upgrade" all dependencies (at least for projects that have a bunch of extra dependencies; for smaller projects t

[2018-07-18 08:48] SCMorgan opened #328 "When opening datepicker to year, height is incorrect"
**Current Behaviour:**
Steps to reproduce: https://webmshare.com/play/86xQr

_GIVEN_ I have selected the year picker within the datepicker,
_AND_ I have closed the datepicker
_WHEN_ I open the datepicker again,
_THEN_ it is shorter than expected

I have reproduced this both locally and on the demo site.

**Expected Behaviour:**
Datepicker should re-open with the same height as it had when it was c

[2018-07-18 12:57] jkuri commented on #328
hi @SCMorgan, thanks for the report! datepicker should always open in calendar view, I'll fix that.

[2018-07-19 09:09] dhruvkotakkotak commented on #245
i am showing error message on dirty or touched and required. but here error message is coming on page load. i dont want on page load, I want to touch or dirty.
I have used below code for date picker and other element. for other element it is working fine..

<div *ngIf="Start.errors && (Start.dirty || Start.touched)"> date is required </div>

[2018-07-27 07:28] darwin4416 opened #329 "How can i select multiple dates?"

[2018-07-30 03:29] do2tdo2t commented on #37
I think you didn't import moment.js file.
just add this line in head tag !
: <script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

[2018-08-01 18:04] #328 closed

[2018-08-09 08:54] h0m36r0wn commented on #326
a quick hack for this problem is stop the click event propagation ... let say you have <button (click)="handleToggle($event);$event.stopPropagation()">Toggle ng date-picker</button>

[2018-08-09 11:25] khabir opened #331 "Option to clear selected date from UI"
is there any option to clear selected date from ui in current version (3.1.1)?  @jkuri says that it is resolved with #315. Moreover, it will be great to have a today's date button in the ui when we change the month/year from calendar, that button will help us to show the today's date.

[2018-08-09 17:46] haisamido opened #332 "Need ability to show and select day of year"
At the US organization that I work for, the ability to select day of year, in a calendar is essential. e.g. today 2018-08-09 is 2018-221. There are legacy reasons for this capability which I don't want to get into.  Therefore, the project's summer intern has created this pull request on a fork https://github.com/jahvaneebogle/ng2-datepicker/pull/1

It would be great if this were merged back into t

[2018-08-23 10:26] troncomputers commented on #320
Same issue for me. It should take a value with set display formating

[2018-08-29 07:18] dineshchand1984 commented on #331
Can we have a button besides the date input field to clear value -
![capture](https://user-images.githubusercontent.com/42776668/44771783-b1ffca00-ab89-11e8-95ee-5326a72ec286.JPG) . It would be very helpful.

[2018-08-29 14:32] jahvaneebogle commented on #331
@dineshchand1984   [https://github.com/jahvaneebogle/ng2-datepicker/tree/dayOfYear](url)

<img width="567" alt="screen shot 2018-08-29 at 10 31 44" src="https://user-images.githubusercontent.com/41483945/44794568-c38ba680-ab76-11e8-97b6-8a48ad0258e2.png">
<img width="570" alt="screen shot 2018-08-29 at 10 31 29" src="https://user-images.githubusercontent.com/41483945/44794590-c9818780-ab76-11e8-94

[2018-09-01 08:48] jagabs opened #333 "Disabled, cant select any date"
![screen shot 2018-09-01 at 4 30 56 pm](https://user-images.githubusercontent.com/17292042/44944287-ad941500-ae06-11e8-8b33-2642582d9cfc.png)

I followed the guide but its disabled,
also i copied the options fr the doc.
"ng2-datepicker": "^3.1.1",
"@angular/animations": "6.0.0",
    "@angular/common": "6.0.0",
    "@angular/compiler": "6.0.0",
    "@angular/core": "6.0.0",
    "@angular/forms": "6

[2018-09-06 02:17] jagabs commented on #316
not working for me

[2018-09-06 07:39] jyotidhiman0610 commented on #79
I am unable to add custom style to the component, can anyone help me with it?

[2018-09-12 08:04] DESHU44 opened #335 "Uncaught TypeError: t is not a constructor"
After days of debugging as I'm new to angular. I found that ng2-datepicker throwing this [error](https://stackoverflow.com/questions/52272486/not-able-to-debug-js-error-t-is-not-a-constructor?noredirect=1#comment91492556_52272486) while running application in production mode using `ng build --prod`. In normal development mode using `npm start` it works perfectly fine.

Here is my package.json.
`{

[2018-09-13 00:04] jkuri commented on #335
hi. can you provide minimal reproducible steps to get this error please, it works for me.

[2018-09-17 09:01] kostyanet commented on #206
@jkuri Hi there! Look like that trick doesn't work any more:
`Can't bind to 'inputEvents' since it isn't a known property of 'ng-datepicker'.`
Is there any other way to update the value?

[2018-09-17 11:03] kostyanet commented on #206
@jkuri Thanks for your quick reply, it works!

[2018-10-05 10:02] Manzurkds opened #336 "Not able to build the package"
I've forked this repo to suit for our needs. But suddenly I've found out that we are no longer able to make builds. So I tested making a build with ng2-datepicker itself, but it shows the same result

Getting this error on running npm run build:lib

I hope it's due to some issues with angular and nodejs versioning. Can anyone please help me out here?

[2018-10-12 13:37] evepen1 commented on #264
In most of the cases any invalid date format or string with "Invalid date" is displayed as and when 'myDate' becomes null. In such cases you datepicker to handle and display placeholder text instead of any unexpected dates or invalid date in datepicker input you try the following code:

`defaultValue = { myDate != null ? moment(myDate): false}`

Here `myDate` contains date passed from props.

[2018-10-19 18:36] kogden commented on #316
I agree. Something opens but none of the days/months/years are showing.

[2018-10-19 19:08] kogden opened #337 "Calendar opens in Angular 6 but is faded and I cannot click a date"
Description of problem is in the title.

[code]
[code]

[2018-10-19 19:13] kogden commented on #333
Having a similar issue. Elements are overlapping as well.

[2018-10-28 22:37] erizoy opened #338 "update options"
Hello, everyone.
How can I asynchronically update options of datepicker component?
For example, I have two datepickers. And when I select first date, I want to update minDate of second datepicker.
Can someone help me?

[2018-10-29 17:57] erizoy commented on #338
Uh, my bad, problem solved easily.
Just need to assign options from new object:
[code]
Instead of reassign existing property:

`this.options.minDate = this.minDate`

[2018-10-29 17:57] #338 closed

[2018-11-07 11:18] blonboll commented on #336
I have getting same error. Can anyone please help me too? Some fix? Or fork? Thanks much.

[2018-11-07 11:21] Manzurkds commented on #336
No mate, nothing yet, we are still on the old version due to it

[2018-11-08 12:08] buchticka666 commented on #336
Ok, and which version should I use? I tried 3.0.0 and the same error occurs :/

[2018-11-16 13:37] durgeshmca commented on #241
Thank you @Mr-D-Projects  very much

[2018-12-09 05:07] chetanbane opened #339 "how to change time"
I want to add time on the basis of 24hrs or 12 hrs. but it won't show time it shows only Data to select

Any Idea on this...

[2018-12-11 09:04] BenediktCleff commented on #325
You can simply set the week start to monday by passing `firstCalendarDay: 1` through the DatepickerOptions

[2018-12-14 10:04] hamundnic opened #340 "about @hotlistener"
in the @Hotlistener  we have the event e:MouseEvent  => e.target ,when you are clicked over one day return this. `<span _ngcontent-c6="" class="day-unit" ng-reflect-klass="day-unit" ng-reflect-ng-class="[object Object]"> 21 </span>` as object , but when you use and compare with thre property input we have to different result like `<input _ngcontent-c6 class=​"ngx-datepicker-input ng-pristine ng-va

[2018-12-28 17:38] netdjw opened #341 "Automatic dropdown position feature request"
It could be nice an option for automatic dropdown position based on if opened it will be out of the screen or not.

I think the current options are greats for default, but would be better with some autopositioning like this:

- bottom-right-auto - working like bottom-right but if the showed datepicker will be out of screen then it will shown as top-right
- bottom-left-auto - working like bottom-ri

[2019-01-08 10:26] kurthamilton opened #342 "Option to not apply default input styles"
The input is being styled with a very specific selector. I want to undo / not apply all of the input styles rather than override them with input styles that I am already declaring elsewhere.

I would happily opt-in to a config option - something like "defaultClass" - that reverts to 'ngx-datepicker-input' if not specified.

[2019-01-08 20:22] Onelastfall commented on #305
@SvenHarenburg Would you provide more information or an example on how to set .day-unit to cal(99.9% / 7) please.

I have tryed to add this in DatepickerOptions under addStyle but it does not seems to work.

[2019-01-10 13:14] ghizoulo commented on #333
@kogden @jagabs
I have the same problem, Have u solved it ?

[2019-01-10 13:19] ghizoulo commented on #337
@kogden Have u found any solution for that? or the problem is because it is angular 6 ?

[2019-01-17 14:14] mcsekar12 commented on #316
Any updates on this issue? Facing the same issue when migrating from angular4 to angular6 .

[2019-01-22 11:40] sachinpatil1920 opened #343 "Not work with ReactiveForms"

[2019-01-24 15:51] sakhisoufiane opened #344 "How to clear selected date from UI?"
It's been mentioned that this feature has been added, but we can't figure out how to implement it ?
Anyone knows a way to clear the selected date from the ui ?

[2019-02-11 04:09] egemenu commented on #333
Just change the _maxDate_ and _minDate_ in options.

[In readme](https://github.com/bleenco/ng2-datepicker#options) you can see both of them are _Date.now()_ and there is no any selectable date between them.

[2019-02-19 14:31] amit-techpro opened #345 "ngModel null issue"
When the ng-datepicker loaded with null values. the entire page gets hang.

[2019-02-21 19:02] dekim commented on #345
The issue seems pretty much generalized on Chrome 72. The browser is really slow whenever a date-picker component is created.

[2019-02-22 16:43] speence commented on #327
I downgraded to ng2-datepicker 2.3.1 that did the trick for me. Not sure if that is feasible for you, or if you came up with a different solution?

[2019-03-01 18:43] speence commented on #82
@sjmerel was there ever a solution implemented for this? Or did you come up with a workaround?

[2019-03-01 19:01] sjmerel commented on #82
I worked around by converting the dates to the browser's timezone before passing them to the datepicker.

[2019-03-05 07:54] amit-techpro commented on #345
Yes, Is there any other datepicker that I can use.

[2019-03-07 06:49] tsega opened #346 "The calendar remains opened even after the input looses focus"
How to close the calendar once the input field looses focus.

[2019-03-12 10:59] ravvikt opened #347 "Open calendar pop up on icon click event as well as input field"
Open calendar on clicking the calendar icon in the text box.
Simply to say, I want to append a calendar icon to input field.

[2019-04-02 09:08] Gururaj26 commented on #320
@naveencgr @troncomputers any solution for this by now ?

[2019-04-08 02:17] Alex61NN5 opened #348 "Ability to keep calendar open after selecting a date"
Hey there,

It would be good if you could set an option to keep the calendar open even after selection.

For example in options

[code]

then in your `setDate()` function you could do

[code]

[2019-04-30 17:07] JChableXit99 opened #349 "How can i disable specific days like sunday, monday or whatever I need?"
I like to disable specific days of week in <ng-datepicker>, can anybody help me, please?

[2019-05-07 09:38] Prithivraj200 opened #350 "display month list"
Hi,

  I am able to select date & year from the list. But while choosing a month I have to use the arrow to navigate. Can we have a month list like a year list?

[2019-06-24 21:32] almirhusic commented on #89
I had a similar problem. @ghetolay's advice helped me.
I added ```
.ngx-datepicker-calendar-container {
    z-index: 1 !important;
}
``` to my global `styles.css` file and everything works perfectly. :)

[2019-07-01 20:36] sjmerel opened #351 "Not showing dates in Saturday column on latest version of Edge on Windows"
On the latest version of Edge on Windows (Edge 44.17763.1.0, Windows 10 1809), the date numbers are not displayed in the final column (for the Saturdays).

This can be reproduced with the demo code in the package.

![image](https://user-images.githubusercontent.com/10146196/60464689-266d2480-9c04-11e9-8dab-74dde369f6c0.png)

[2019-07-05 10:38] khajaamin commented on #187
Is this solved or you changed your datepicker widget ?

[2019-07-10 03:39] andrebrz commented on #171
I'm using ^3.1.1 version... How can I use this "clear" button?

[2019-08-17 08:56] brijesh872 commented on #333
Remove **minDate** and **maxDate** from options: DatepickerOptions = {}
[code]

[2019-09-27 05:31] mistrynilesh commented on #351
I am facing the same problem on the Edge(42.17134.1.0) browser. Date numbers are not displaying on Saturday column.
![image](https://user-images.githubusercontent.com/3295257/65744400-dffd6800-e115-11e9-82ff-d042504d110a.png)

[2019-10-15 13:58] VivekVasudevaraju commented on #349
I have a similar requirement.
Any update on this issue?

[2019-10-23 19:30] maghidini commented on #344
I added a template reference on the tag `<ng-datepicker>` and the use `reset()` method on my component.

HTML:
`          <ng-datepicker #date></ng-datepicker>`

COMPONENT:

`  @ViewChild('date') date: ElementRef;

resetDate() {
    this.date.reset();
}
`

[2019-10-27 06:59] vishalhulawale commented on #288
Angular does not allow self-closing for components selectors in default namespace for an unknown reason. But if you change namespace then it works. try this
`<ns:ng-datepicker [(ngModel)]="date" />`
where `ns` is the name of the custom/foreign namespace.

[2019-11-11 22:08] sjmerel commented on #351
Doesn't seem like this project is being actively maintained, but I found a fix: in src/ng-datepicker/component/ng-datepicker.component.sass line 92, change the line
```width: calc(100% / 7)```
to
```width: calc(99% / 7)```
I assume because of some difference in how the widths are calculated/rounded, Edge decides the 7 days don't fit in the calculated space, and we end up with only 6 days in the we

[2019-11-13 12:41] jacobypl opened #352 "Locale option doesn't work with date-fns > 2"
Hi,

there is a bug with newer date-fns. Locale option doesn't work at all with new date-fns. It's always default english language. I changed version to be compatibile with yours from example and it's fine.

[2020-01-17 13:46] DorinaFerencsik opened #354 "Resetting a datepicker causes a jump, back to 1970"
I encountered this issue when I tried to add a clear button to the datepicker field, where the user can reset the input (the datepicker is used as a filter in a search function). Calling the datepicker's `reset()` method will set the default panel to the current date, but clicking on the previous or next month button will bring up December 1969 and February 1970 respectively.

**Reproduction:**
Ca

[2020-01-18 15:39] jkuri commented on #354
I do not have permissions to make a fix, please try this version of datepicker:
[bleenco-ui-datepicker.zip](https://github.com/bleenco/ng2-datepicker/files/4080890/bleenco-ui-datepicker.zip)

[2020-01-20 07:35] DorinaFerencsik commented on #354
Thank you!
I am using the datepicker as a npm package and I would rather not include it as a component in my project if I do not necessarily have to. I will take a look nevertheless, thanks

[2020-02-02 06:07] #159 closed

[2020-02-28 06:45] crystalYY opened #355 "upgrade to angular9 occurs error"
**version:**
 "dependencies": {
    "@angular/animations": "^9.0.2",
    "@angular/cdk": "^9.1.0",
    "@angular/common": "^9.0.2",
    "@angular/compiler": "^9.0.2",
    "@angular/core": "^9.0.2",
    "@angular/flex-layout": "^9.0.0-beta.29",
    "@angular/forms": "^9.0.2",
    "@angular/localize": "^9.0.3",
    "@angular/platform-browser": "^9.0.2",
    "@angular/platform-browser-dynamic": "^9.0

[2020-04-04 07:26] susheel95 commented on #294
Please suggest any other date picker module, if a clear feature is not available in this module

[2020-05-07 09:06] adiagrwl94 commented on #355
@crystalYY Any resolution or workarounds?

[2020-07-16 07:40] crystalYY commented on #355
not yet

[2020-07-16 07:59] ehsanagh commented on #355
So is there any plan at least?
this project is not updated over two years.
many issues and many pending pull-request.
I can fix this but why should I wait for this fix to get applied?
Since this is breaking my whole pipe line.
I prefer to use other alternatives.
lets never fix this.

[2020-12-10 20:55] ivurnave commented on #354
For those running into this issue and waiting for it to be addressed, there is an easy workaround due to all the properties of the datepicker object being public -- create your own method to reset the variables correctly. If you set a view child property on the consuming component that references the datepicker, you can just write something like this:

[code]

[2021-02-22 07:30] kuldeeps1ngh commented on #244
You can easily clear selected date using ElementRef:

[code]

OR

You can clear it from component also:

[code]

[2021-06-16 20:53] marcosvmauri opened #361 "Set value manually"
Hello,
Would anyone know if it is possible to update the dates via keyboard and manually via code?

[2022-02-23 23:04] nelson777 opened #365 "What happened to the headless attribute ?"
I'm updating my project from Angular 8 to Angular 13. In the middle of the process around the upgrade from 9 to 10 (I think) ng2-datepicker didn't recognize the headless attribute anymore.

What happened and how do I do it's function now ?

[2022-04-04 09:02] nelson777 commented on #365
Hello ? is anybody in there ? just nod if you can hear me....

[2022-05-24 07:21] Bianxzy20 opened #370 "Stackblitz"
is there any stackblitz example of this ? so that we can view the output before actually implementing it to our project?

[2022-06-07 03:34] Mutondi opened #372 "Demo link taking users to malware"
The link is full of malware and redirects. Please secure it or take it down

[2022-11-14 07:53] amanbansal12345 commented on #329
@darwin4416 did you find solution ??